body {
	text-align: center;
	background: lightgrey;
}

.banner {
	color: white;
	background: lightgrey;
	font-size: 40px;
	text-shadow: 5px 5px 10px black;
	font-family: 'Girassol', cursive;
	background-image: url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	padding: 5px;
	margin-bottom: 20px
}

h2 {
	color: white;
	font-family: 'Girassol', cursive;
	text-shadow: 5px 5px 10px black;
}

ol {
	text-align: left;
}

.avatar {
	width: 300px;
	object-fit: cover;
	border-radius: 50%;
	height: 250px;
	box-shadow: 5px 5px 5px grey;
}

.team {
	width: 500px;
}

.portrait {
	width: 250px;
	height: 250px;
	object-fit: cover;
	justify-content: space-around;
	align-items: center;
}

.bg-black {
	background: #708090;
	padding: 30px;
	margin-bottom: 20px;
}

.logo {
	width: 250px;
	height: 150px;
}

.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	object-fit: cover;
}

.link {
	padding: 30px;
	font-family: 'Girassol', cursive;
}

.navbar {
	background: #708090;
	display: flex;
	justify-content: space-between;
}

.premierlien {
	background: red;
	padding: 15px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 50px;
	border-radius: 5px;
}

a:hover {
	background: black;
}
